body {
    background-color: hsl(210, 50%, 90%);
    font-size: 30px;
    font-family: sans-serif;
    max-width: 20em;
    margin-left: auto;
}

#chart p {
    /* display: inline-block; */
    background-color: hsl(210, 40%, 70%);
}
