body      { background-color: hsl(60, 70%, 90%); }
h1        {            color: hsl(60, 80%, 10%); }
h1:after,
h1:before {            color: hsl(60, 50%, 70%); }

#matrix table td {
    padding: .4ex .8em;
}
#matrix table {
    border-collapse: separate;
}
