body      { background-color: hsl(250, 70%, 90%); }
h1        {            color: hsl(250, 80%, 10%); }
h1:after,
h1:before {            color: hsl(250, 50%, 70%); }
#vis svg  { background-color: hsl(250, 50%, 80%); }

svg path.line {
    fill: none;
    stroke-width: 5;
    stroke-opacity: 60%;
}

