body       { background-color: hsl(200, 90%, 20%);  }
#chart svg { background-color: hsl(200, 60%, 20%);  }
h1                    { color: hsl(200, 30%, 60%);  }
h1:after, h1:before   { color: hsl(200, 30%, 40%);  }

text.barLabel {
    text-anchor: middle;
    font-family: 'sans-serif';
    font-size: 8px;
    fill: hsl(200, 50%, 90%);
}
