body {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding-left: auto;
    padding-right: auto;
}

h1:after, h1:before {
    content: "❦";
    font-size: smaller;
    padding: 0 .5em;
    display: inline-block;
}

h1:before {
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
}

h1:after {
    -webkit-transform: rotate(+90deg);
       -moz-transform: rotate(+90deg);
        -ms-transform: rotate(+90deg);
         -o-transform: rotate(+90deg);
}

